<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Java二叉树对象图形化</title>
  <link type="text/css" rel="stylesheet" href="/binaryTree/style.css">
</head>
<body>
  <script th:inline="javascript">
    //用户显示二叉树的数据
    var binaryTreeData = /*[[${btData}]]*/'';
  </script>
  <script src='/binaryTree/p5.min.js'></script>
  <script src='/binaryTree/p5.dom.min.js'></script>
  <script src='/binaryTree/p5.experience.js'></script>
  <script src="/binaryTree/script.js"></script>

  <div id="nodeModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      值: <input type="number" id="nodeModalInput"><br>
      <div class="modal-button-area">
        <button id="nodeModalDelBtn" class="button button-1">删除</button>
        <div class="divider"></div>
        <button id="nodeModalDoneBtn" class="button">完成</button>
      </div>
    </div>
  
  </div>
</body>
</html>